

html{
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px; 
}
.only_mobile{
    display: block;
}
.only_desktop{
    display: none;
}
[class*="col-"] {
    width: 100%; 
    float: left; 
    padding: 5px;
}  
[class*="mob-"]{
    float: left;
    padding: 5px;
}
[additional_text]{
    
    font-size: 0.8em;
}

[nopadding]{
    padding: 0px;
}