@mixin borderedDiv($width: 1px,$bg_color: white,$style: none,$color: black, $rad: 0px){
    @include normalDiv();
    border-style: $style;
    border-width: $width;
    border-color: $color;
    border-radius: $rad;
    background-color: $bg_color;
} 
@mixin normalDiv($bg_color: none, $opacity: 1, $padding: $defaultPadding){
    padding: $padding;
    background-color: $bg_color;
    opacity: $opacity;
}
@mixin fontProperties($color: $mainFontColor, $fontFamily: $defaultFontFamily, $fontSize: $mainFontsize, $font-weight: normal, $text-decoration: none ){
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
    font-weight: $font-weight;
    text-decoration: $text-decoration;
    line-height: $defaultLineHeight;
}
@mixin animations($name: fadeIn, $duration : 2s, $delay: 0s, $count: 1){
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $count;

}