@import "variables";
@media screen and (min-width: 1025px){
    #main_container{
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 769px){
   
    .col-1 {width: 8.33%;}
    .col-2, .menu_button {width: 16.66%;}
    .col-3 {width: 25%;} 
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .only_desktop{
        display: block;
    } 
    .only_mobile{
        display: none;
    }
    .card{
        width: 400px;
        height: 400px;
    }
    .card_container{
        margin-top: 100px;
        flex-wrap: no-wrap;
    }
    
    section {
        width: 100%;
        // height: 100vw;
    }
    
    #home_content h1{
        margin: 50px 0 30px 0;
    } 
    .card div{ 
        font-size: 1.5em;
    }
    #up_nav{
        width: 100px;
        height: 100px;
    }
    .tel_header{
        font-weight: bold; 
        font-size: 1.1em; 
    }
    #home_text{
        top: 50px;
    }
    [id$="_content"]{
        padding: 15px;
    }
    #arinfo_container{
        column-count: 2;
    }
    #artabla_container{
        column-count: 2;
    }
    #artabla_container div{
        padding: 5px;
    }
    #cookie_area{
        width: 70%;
        left: 15%;
    }
    .normal_button{
        width: 50%;
    }
    
    .tableizer-table{
        width: 100%;
        margin: 5px 0px 5px 0px;
     }
     .tableizer-table  tr, td{
         border-width: 0px 0px 1px 0px;
         border-style: solid;
         border-color: white;
     }
     .tableizer-table  td:nth-child(1), th:nth-child(1){
         text-align: left;
         width: 50%;
     }
     .tableizer-table   td:nth-child(2), th:nth-child(2){
         text-align: left;
         width: 20%;
     }
     
   
}

@media screen and (max-width: 769px){
    .mob-1 {width: 8.33%;}
    .mob-2 {width: 16.66%;}
    .mob-3 {width: 25%;} 
    .mob-4 {width: 33.33%;}
    .mob-5 {width: 41.66%;}
    .mob-6 {width: 50%;}
    .mob-7 {width: 58.33%;}
    .mob-8 {width: 66.66%;}
    .mob-9 {width: 75%;}
    .mob-10 {width: 83.33%;}
    .mob-11 {width: 91.66%;}
    .mob-12 {width: 100%;}
    .mobile_menu {width: 100%;}
   
}