$mainFontColor : rgb(0, 0, 0);
$SecFontColor : rgb(255, 255, 255);
$buttonColor : rgb(58, 58, 216);
$mainFontsize: 15px;  
$defaultPadding: 5px;
$defaultLineHeight: 1.6;
$defaultHeadingFontFamily: 'Secular One','Open Sans';
$defaultFontFamily: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$defaultBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);